

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {display: block;}


#main {
    zoom: 1;
    width: 1200px;
    margin: 0px auto;
}

#articles {
    float: left;
    width: 800px;
    
}

#side {
    float: right;
    width: 300px;
}
