
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {display: block;}



#nav {
    background-color: rgba(100, 100, 100, 0.5);
}
#nav ul li {
    float: left;
}



#main {
    zoom: 1;
    width: 1200px;
    margin: 0px auto;
}

#articles {
    float: left;
    width: 800px;
}

#side {
    float: right;
    width: 300px;
}






.entry .blog-info ul li {
    float: right;
}








#footer-aside {
    margin: 0px auto;
    width: 1200px;
}

#footer-aside .footer-widget {
    float: left;
}
#footer-aside .side-box {
    margin: 20px auto;
}
